<div class="modal-content">
		<h2>Create Chat</h2>
		<form id="dialogContent" class="model-dialog" action="/Chat/Create" method="post">
			<div class="form-group">
				<div class="form-group">
					<label for="Name" class="form-label">Name</label>
					<input name="Name" type="text" minlength="3" required class="form-control">
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<br />
						<button type="submit" class="btn btn-default btn-reg">Submit</button>
					</div>
				</div>
			</div>
		</form>
	</div>